/* _main.scss */
/* Site Loader CSS */
.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: #fff;
  overflow: hidden;
  & .loader-in {
    width: 100%;
    height: 100vh;
    position: relative;
    & .spinner {
      height: 100px;
      width: 100px;
      position: absolute;
      background-color: #000;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
    }
  }
}

/* Site Header CSS*/
.topbar {
  padding:  50px 5% 0 5%;
  @include ipad-pro{
    display: none;
  }
  & .header-left-widget {
    & a {
      color: #000;
    }
    & p {
      color: #000;
    }
    & .widget_nav_menu{
      & ul{
        display: flex;
        & li{
          padding: 0 30px 0 0;
          a{
            padding: 0;
            position: relative
          }
        }
      }
    }
  }
  & .header-center-widget {
    & a {
      color: #000;
    }
    & p {
      color: #000;
    }
  }
  & .header-right-widget {
    & a {
      color: #000;
    }
    & p {
      color: #000;
    }
    & .widget_nav_menu{
      & ul{
        display: flex;
        justify-content: flex-end;
        & li{
          padding: 0 0 0 30px;
          a{
            padding: 0;
            position: relative
          }
        }
      }
    }
  }
}
header {
  position: relative;
  display: none;
  @include ipad-pro{
    display: block;
  }
  &.site-header {
    position: relative;
    & a.navbar-brand {
      color: #000;
    }
    & ul {
      & li {
        & a {
          color: #000;
        }
      }
    }
    & .navbar-toggler {
      border: 3px solid #000 !important;
      height: 50px;
      width: 50px;
      padding: 0;
      @include radius(0);
      & span{
        color: #000;
        font-size: 30px;
      }
    }
  }
}

/* Site Footer CSS*/

footer {
  position: relative;
  &.site-footer {
    position: relative;
    & .footer-left-widget {

      & a {
        color: #000;
      }
      & p {
        color: #000;
      }
     
    }
    & .footer-center-widget {
      & a {
        color: #000;
      }
      & p {
        color: #000;
      }
    }
    & .footer-right-widget {
      & a {
        color: #000;
      }
      & p {
        color: #000;
      }
    }
  }
}
.copyrights {
  p {
    color: #000;
    a {
      color: #000;
    }
  }
}
/*Site Wrapper */
.site-wrapper {
  overflow: hidden;
}
