$body_font: "Poppins", sans-serif;
$heading_font: "Poppins", sans-serif;
$text_font: "Poppins", sans-serif;

$theme-colors: "black" #000, "gray" #a2a2a2, "white" #fff;

/* Colors */
@each $clrname, $hexcode in $theme-colors {
  .text-#{$clrname} {
    color: $hexcode;
  }
  .bg-#{$clrname} {
    color: $hexcode;
  }
}
/* Colors END */

$heading-sizes: "1" "100", "2" "85", "3" "70", "4" "45", "5" "24", "6" "18";
/* Headings */
@each $h-num, $h-sizes in $heading-sizes {
  h#{$h-num} {
    font-size: #{$h-sizes}px;
  }
}
/* Headings END */

$paras: "small" "14", "medium" "16", "large" "20", "default" "18";
/* Paragraph */
@each $p-num, $p-sizes in $paras {
  @if $p-num == default {
    /*Default Paragraph */
    p {
      font-size: #{$p-sizes}px;
    }
  } @else {
    p.#{$p-num} {
      font-size: #{$p-sizes}px;
    }
  }
}
/* Paragraph END */
