body,
html {
  scroll-behavior: smooth;
}

/* Heading Styles*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 40px;
}

/* Paragraph  Styles*/
p,
a,
li,
th,
td {
  font-size: 16px;
}

.site-wrapper {
  overflow-y: hidden;
}
.page-content {
  padding: 0;
}

/* HEADER - CSS */

/* Top Bar */
.topbar {
  padding: 10px 0;
  background-color: #272727;
}
.topbar p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.topbar a {
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
.topbar a i {
  padding-right: 5px;
}
.topbar a:hover {
  color: rgb(145, 145, 145);
  text-decoration: none;
}

/* Normal Header */
.site-header {
  padding: 20px 0;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  background-color: #f2f2f2;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
}

/* Fixed Header */
.site-header.fixed {
  padding: 10px 0;
  background-color: #000000e6;
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
}

.site-header .navbar .navbar-brand {
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  font-size: 28px;
  transform: all 0.6s ease-in-out;
  -webkit-transform: all 0.6s ease-in-out;
  -moz-transform: all 0.6s ease-in-out;
  -ms-transform: all 0.6s ease-in-out;
  -o-transform: all 0.6s ease-in-out;
}

.site-header.fixed .navbar .navbar-brand {
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  font-size: 24px;
}

.site-header-nav li {
  padding: 0;
}
.site-header-nav li a {
  padding: 15px 20px !important;
  color: #757575;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
.site-header-nav li:hover a,
.site-header-nav li.active a {
  color: #000;
}

.header-left-widget .contact-info



/* FOOTER */

.site-footer {
  background-color: #272727;
  padding: 5% 0;
}
.site-footer ul {
  list-style: none;
  margin-left: -40px;
}
.site-footer p {
  color: #fff;
}
.site-footer a {
  color: #fff;
  text-decoration: none;
}
.widgettitle {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}
.social-media a {
  padding-right: 20px;
  font-size: 28px;
}

.copyrights {
  background-color: #1d1d1d;
  padding: 20px 0;
}

.copyrights p {
  margin: 0;
  color: #fff;
}
.copyrights a {
  color: #fff;
  text-decoration: none;
}
