
/*--------------------------------------------------------------
## Desktop xl
--------------------------------------------------------------*/
@media only screen and (max-width: 1600px) {
  
}


/*--------------------------------------------------------------
## Desktop lg
--------------------------------------------------------------*/ 
@media only screen and (max-width: 1440px) {

}


/*--------------------------------------------------------------
## Desktop md
--------------------------------------------------------------*/

@media only screen and (max-width: 1366px) {
	
}


/*--------------------------------------------------------------
## iPad Pro
--------------------------------------------------------------*/

@media only screen and (max-width: 1024px) {

}


/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
      
}


/*--------------------------------------------------------------
## Mobile
--------------------------------------------------------------*/

@media only screen and (max-width: 480px) {
      
}

/*--------------------------------------------------------------
## Mobile sm
--------------------------------------------------------------*/

@media only screen and (max-width: 375px) {
      
}